/* сброс браузерных стилей кнопок */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}



/* базовые стили (default) */
.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    overflow: hidden;
    position: relative;
    min-height: 36px;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.button-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    font-size: clamp(0.875rem, 0.683rem + 0.77vw, 1rem);
    font-weight: 500;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.button-icon svg {
    width: 22px;
    height: 22px;
    stroke-width: 1.8;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
}



/* primary button */
.custom-button.primary {
    background-color: var(--accent-color-500);
    color: var(--primary-color-50);
}

.custom-button.primary .button-icon {
    background-color: var(--accent-color-600);
}

.custom-button.primary:hover {}

.custom-button.primary:active {}

.custom-button.primary:focus {}

.custom-button.primary:disabled {
    background-color: var(--grey-color-300) !important;
    color: var(--text-secondary-color) !important;
    filter: opacity(.8) !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}

.custom-button.primary:disabled .button-icon {
    background-color: var(--grey-color-400) !important;
}



/* secondary button */
.custom-button.secondary {
    background-color: var(--grey-color-200);
    color: var(--accent-color-500);
}

.custom-button.secondary .button-icon {
    background-color: var(--grey-color-300);
}

.custom-button.secondary:hover {}

.custom-button.secondary:active {}

.custom-button.secondary:focus {}

.custom-button.secondary:disabled {
    background-color: var(--grey-color-300) !important;
    color: var(--text-secondary-color) !important;
    filter: opacity(.8) !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}

.custom-button.secondary:disabled .button-icon {
    background-color: var(--grey-color-400) !important;
}



/* tertiary button */
.custom-button.tertiary {
    background-color: transparent;
    color: var(--accent-color-500);
}

.custom-button.tertiary .button-label {
    padding: 0 5px;
}

.custom-button.tertiary:hover {}

.custom-button.tertiary:active {}

.custom-button.tertiary:focus {}

.custom-button.tertiary:disabled {
    color: var(--text-secondary-color) !important;
    filter: opacity(.8) !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}



/* ghost button */
.custom-button.ghost {
    background-color: transparent;
    color: var(--accent-color-500);
    border: 1px solid var(--accent-color-500);
}

.custom-button.ghost:hover {}

.custom-button.ghost:active {}

.custom-button.ghost:focus {}

.custom-button.ghost:disabled {
    border-color: var(--grey-color-400) !important;
    color: var(--text-secondary-color) !important;
    filter: opacity(.8);
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}



/* icon-only button */
.custom-button.icon-only {
    width: 44px;
}

.custom-button.icon-only .button-icon {
    background-color: var(--accent-color-500);
    color: var(--text-accent-color);
}

.custom-button.icon-only:hover {}

.custom-button.icon-only:active {}

.custom-button.icon-only:focus {}

.custom-button.icon-only:disabled .button-icon {
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
    color: var(--text-secondary-color) !important;
    background-color: var(--grey-color-400) !important;
}



/* timer button */
.custom-button.timer {
    background-color: var(--accent-color-500);
    color: var(--primary-color-50);
}

.custom-button.timer .button-icon {
    background-color: var(--accent-color-600);
}

.custom-button.timer:hover {}

.custom-button.timer:active {}

.custom-button.timer:focus {}

.custom-button.timer:disabled {
    background-color: var(--grey-color-300) !important;
    color: var(--text-secondary-color) !important;
    filter: opacity(.8) !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}

.custom-button.timer:disabled .button-icon {
    background-color: var(--grey-color-400) !important;
    font-weight: var(--font-weight-medium);
}



/* done button */
.custom-button.done {
    background-color: var(--scfly-color-400);
    color: var(--primary-color-50);
}

.custom-button.done .button-icon {
    background-color: var(--scfly-color-500);
}

.custom-button.done:hover {}

.custom-button.done:active {}

.custom-button.done:focus {}

.custom-button.done:disabled {
    background-color: var(--grey-color-300) !important;
    color: var(--text-secondary-color) !important;
    filter: opacity(.8) !important;
    cursor: not-allowed !important;
    transform: none !important;
    box-shadow: none !important;
}

.custom-button.done:disabled .button-icon {
    background-color: var(--grey-color-400) !important;
    font-weight: var(--font-weight-medium);
}


@media (max-width: 1280px) {
    .custom-button {
        height: 44px;
    }

    .button-label {
        padding: 0 20px;
    }

    .button-icon {
        height: 44px;
        width: 44px;
    }

    .button-icon svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 662px) {
    .custom-button {
        height: 44px;
    }

    .button-label {
        padding: 0 16px;
    }

    .button-icon {
        height: 44px;
        width: 44px;
    }

    .button-icon svg {
        width: 18px;
        height: 18px;
    }
}
