/* СЕТКА - ПРОГРЕСС БАР, СЕТКА КАРТОЧЕК ТЕСТОВ, ИНДИКАТОР ПРОКРУТКИ */
.test-container {
    display: grid;
    grid-template-rows: 20px auto;
    grid-template-areas:
        "switch"
        "cards";
    gap: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.test-tabs {
    grid-area: switch;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.test-tabs .tab-btn {
    cursor: pointer;
    text-decoration: underline;
}

.test-tabs .tab-btn.active {
    color: var(--accent-color-500);
}

.test-grid {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(50% - 5px);
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 15px;
}

.test-grid::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1260px) {
    .test-indicator {
        background-color: transparent;
        height: auto;
    }
}

@media (max-width: 996px) {
    .test-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .test-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: calc(33% - 5px);
    }
}

@media (max-height: 750px) {
    .test-indicator {
        background-color: transparent;
        height: auto;
    }
}

@media (max-height: 400px) {
    .test-grid {
        grid-auto-rows: calc(50% - 5px);
    }
}