/* ОБЩИЙ КОНТЕЙНЕР ТЕСТА */
.test-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--grey-color-300);
    padding: 5px;
    border-radius: 20px;
}

.test-card {
    border-radius: 15px;
    background-color: var(--primary-color-50);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    position: relative;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

.test-card::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color-50);
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 12px;
    z-index: 2;
}

.test-card-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 10px;
    padding: 10px 20px 0 20px;
}

/* ОСТАВЩЕЕСЯ КОЛ-ВО ВОПРОСОВ */
.test-card-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.test-card-count-left {
    display: flex;
    align-items: start;
    gap: 30px;
}

.test-card-timer {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 100px;
    color: var(--text-primary-color);
    font-weight: var(--font-weight-medium);
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
}

.test-card-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: var(--text-primary-color);
    font-weight: var(--font-weight-medium);
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
}

.test-card-questions.count-danger {
    color: var(--error-color-500) !important;
}

.test-card-questions.count-good {
    color: var(--scfly-color-500) !important;
}

.test-card-description {
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-md));
    color: var(--text-primary-color);
    font-weight: var(--font-weight-semibold);
}

.test-card-description span {
    color: var(--accent-color-500);
    font-weight: var(--font-weight-medium);
}

/* ТЕКСТ ВОПРОСА */
.test-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    z-index: 3;
}

.test-card-text span {
    display: flex;
    width: 30px;
    color: var(--accent-color-500);
}


.test-card-variants {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    z-index: 3;
}



/* КОНТЕЙНЕР ДЛЯ КНОПОК КАРТОЧЕК */
.test-card-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    z-index: 3;
}

/* СЕТКА ДЛЯ СЛАЙДЕРОВ */
.test-slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
    width: 100%;
    overflow-y: auto;
}

.slider-wrapper {
    display: flex;
    align-items: stretch;
    gap: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}

.slider-track-zone {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--primary-color-50);
    border: 1px solid var(--grey-color-300);
}

/* Шкала заполнения прогресса */
.slider-progress-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(var(--progress, 0%) + 20px);
    border-radius: 15px;
    background-color: var(--grey-color-300);
    z-index: 2;
    transition: width 0.1s ease-out;
}

/* ТЕКСТ: Находится в обычном потоке, именно он определяет высоту слайдера */
.slider-inner-text {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    line-height: 1.4;
    pointer-events: none;
    word-break: break-word;
}

.slider-inner-text .slider-text-content:last-child {
    word-break: keep-all;
    padding-left: 40px;
    padding-right: 10px;
}

/* Вертикальный ползунок */
.slider-custom-thumb {
    position: absolute;
    top: 10px;
    bottom: 10px;
    transform: translateX(9px);
    width: 2px;
    border-radius: 100px;
    background-color: var(--grey-color-400);
    z-index: 4;
    pointer-events: none;
    transition: left 0.1s ease-out;
}

.slider-control-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-50);
    border: 1px solid var(--grey-color-300);
    border-radius: 15px;
    width: 80px;
}

/* Нативный инпут */
.input-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 0;
    cursor: ew-resize;
    touch-action: pan-y;
    z-index: 5;
}

.test-card-image-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 3;
}

/* КАРТИНКИ ТЕСТА */
.test-card-img {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    z-index: 3;
    max-width: 350px;
    width: 100%;
}

.test-card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    object-position: center;
}

/* ОПЦИИ ВЫБОРА (ЕСЛИ ЕСТЬ) В КОЛОНКЕ */
.test-card-list.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3;
}

/* ОПЦИИ ВЫБОРА (ЕСЛИ ЕСТЬ) В СТРОКЕ */
.test-card-list.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 3;
}

/* ОПЦИИ ВЫБОРА */
.test-card-selectable {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--text-primary-color);
    font-size: clamp(var(--font-size-xs), 0.638rem + 0.77vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
    background-color: var(--grey-color-300);
    min-height: 44px;
    min-width: 44px;
    padding: 5px 40px;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.test-card-list.row .test-card-selectable {
    padding: 0;
}

.test-card-selectable.active {
    background-color: var(--accent-color-500);
    color: var(--primary-color-50);
}

/* ПРОГРЕСС ПРОХОЖДЕНИЯ ТЕСТА */
.test-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--accent-color-500);
    z-index: 1;
    transition: width .4s ease;
}

/* МЕДИА ЗАПРОСЫ */
@media (max-width: 992px) {
    .constant-sum-slider {
        height: 100%;
    }

    .test-card-image-text-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .test-card-img {
        max-height: 150px;
    }

    .test-card-selectable {
        min-width: 40px;
        min-height: 40px;
    }
}

@media (max-width: 768px) {
    .test-card {
        gap: 10px;
    }

    .test-card::after {
        display: none;
    }

    .test-card-info {
        padding: 5px 10px 0 10px;
        gap: 5px;
    }

    .test-progress-bar {
        display: none;
    }

    .slider-inner-text {
        padding: 5px 5px 5px 30px;
    }

    .test-card-selectable {
        min-width: 34px;
        min-height: 34px;
    }
}

@media (max-width: 480px) {
    .test-card {
        padding: 20px;
    }

    .test-card-count-left {
        flex-direction: column;
        gap: 0;
    }

    .pozitive-negative {
        height: auto;
    }

    .constant-sum-slider {
        height: 100%;
        gap: 20px;
    }

    .test-card-exit {
        right: 10px;
        top: 13px;
    }

    .single-options-picker.squeezed {
        height: auto;
    }

    .input-slider-count {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 10px;
    }

    .test-card-img {
        max-height: 130px;
        width: 100%;
    }

    .test-progress-bar {
        display: none;
    }
}

@media (max-height: 680px) and (max-width: 480px) {
    .single-options-picker.extended {
        height: 100%;
    }
}