.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.how-it-works-item {
    width: 100%;
    background-color: violet;
    padding: 20px;
    border-radius: 20px;
}