.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.how-it-works-item {
    width: 100%;
    position: relative;
    border-radius: 20px;
    justify-content: start;
    align-items: start;
    padding: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid var(--text-disabled-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    user-select: none;
    gap: 10px;
}